name: Android Build and Release

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Setup Signing Files
        run: |
          # Decode Keystore
          echo "${{ secrets.UPLOAD_KEYSTORE_BASE64 }}" | base64 --decode > app/upload-keystore.jks
          
          # Create signing.properties for Gradle
          echo "UPLOAD_STORE_PASS=${{ secrets.UPLOAD_STORE_PASS }}" > app/signing.properties
          echo "UPLOAD_KEY_ALIAS=${{ secrets.UPLOAD_KEY_ALIAS }}" >> app/signing.properties
          echo "UPLOAD_KEY_PASS=${{ secrets.UPLOAD_KEY_PASS }}" >> app/signing.properties


      - name: Build Release AAB
        run: ./gradlew bundleRelease

      - name: Upload Release AAB
        uses: actions/upload-artifact@v4
        with:
          name: app-release-aab
          path: app/build/outputs/bundle/release/app-release.aab
          retention-days: 7
