name: Android Build and Release

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Decode Keystore
        id: decode_keystore
        run: echo "${{ secrets.UPLOAD_KEYSTORE_BASE64 }}" | base64 --decode > app/upload-keystore.jks

      - name: Build Release AAB
        run: ./gradlew bundleRelease -Pandroid.injected.signing.store.file=app/upload-keystore.jks -Pandroid.injected.signing.key.alias=${{ secrets.UPLOAD_KEY_ALIAS }} -Pandroid.injected.signing.store.password=${{ secrets.UPLOAD_STORE_PASS }} -Pandroid.injected.signing.key.password=${{ secrets.UPLOAD_KEY_PASS }}

      - name: Upload Release AAB
        uses: actions/upload-artifact@v4
        with:
          name: app-release-aab
          path: app/build/outputs/bundle/release/app-release.aab
          retention-days: 7
